* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

input,
button {
  appearance: none;
}

/*REMOVE ONCE IMAGES ARE ADDED*/
svg,
img {
  height: 25px;
  width: 25px;
  background: white;
  border: red 1px solid;
}

html {
  font-size: 85%;
  font-family: "robotomedium", Arial;
}

html * {
  font-family: inherit;
}

.container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 0.7fr 4fr;
  grid-template-columns: 250px 4fr;
}

nav {
  grid-area: 1 / 1 / -1 / 2;
  background: hsl(201.18deg 78.9% 46.47%);
  color: white;
  padding-top: 20px;
  padding-left: 20px;
  display: grid;
  grid-template-rows: 44px 200px 1fr;
  gap: 25px;
}

nav h1 {
  font-size: 1.5rem;
}

nav h2 {
  font-size: 1.3rem;
}

nav > ul.links {
  display: grid;
  grid-template-rows: repeat(6, auto);
}

nav > ul.secondary-links {
  display: grid;
  grid-template-rows: repeat(3, 25px);
  gap: 9px;
}

nav li {
  display: grid;
  align-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr;
  gap: 15px;
}

nav li > svg {
  justify-self: center;
}

header {
  grid-area: 1 / 2 / 2 / -1;
  padding: 10px 46px 10px;
  display: grid;
  grid-template-rows: 0.7fr 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 10px;
}

header h1 {
  font-size: 1.3rem;
}

header h2 {
  font-size: 1rem;
}

header h3 {
  font-size: 0.9rem;
}

header > .top {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  gap: 10px;
  align-items: center;
}

.top > input {
  max-width: 500px;
  background: #dde1e3;
  border-radius: 20px;
  border: none;
  align-self: stretch;
}

header > .bottom {
  display: grid;
  grid-template-columns: auto minmax(max-content, 3fr) repeat(3, 130px);
  align-items: center;
  gap: 10px;
}

.bottom > button {
  justify-self: end;
  align-self: stretch;
  width: 100px;
  border: none;
  background: lightblue;
  color: white;
  border-radius: 30px;
}

main {
  background: #e2e8f0;
  box-shadow: 0 2px 5px 0 inset rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template:
    "projects announcements" minmax(150px, 300px)
    "projects trending" 1fr / 3fr 1fr;
  gap: 15px;
  padding: 25px;
}

main > .projects {
  grid-area: projects;
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: start;
  gap: 10px;
}

main h1 {
  font-size: 1.1rem;
}

main h2 {
  font-size: 1rem;
}

p {
  color: grey;
  font-family: "robotolight";
  font-size: 0.9rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 150px;
  gap: 20px;
}

.projects .card {
  background: white;
  padding: 20px;
  border-radius: 7px;
  border-left: 7px solid lightblue;
  box-shadow: -4px 10px 5px -3px rgba(212, 212, 212, 0.75);
  display: grid;
  grid-template-rows: auto 2fr 1fr;
  gap: 5px;
}

.project-actions {
  justify-self: end;
}

main > .announcements {
  grid-area: announcements;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
}

.announcements > ul.latest {
  background: white;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr 1px 1fr 1px 1fr;
  gap: 5px;
}

.announcements p {
  font-size: 0.7rem;
}

.announcements h4 {
  font-size: 0.9rem;
}

ul.latest > li {
  display: grid;
  align-items: start;
  grid-template-rows: auto 1fr;
  gap: 10px;
}

ul.latest > li.line {
  background: grey;
}

main > .trending {
  grid-area: trending;
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: stretch;
  gap: 10px;
}

h5 {
  font-family: "robotoregular";
  font-size: 0.9rem;
}

.trending > ul.accounts {
  background: white;
  border-radius: 10px;
  padding: 10px 20px;
  display: grid;
  align-items: center;
  align-self: start;
  grid-template-rows: repeat(4, 50px);
}

.trending > .accounts > li {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr 20ch;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  row-gap: 5px;
}

li.account > svg {
  grid-area: 1 / 1 / 3 / 2;
}

li.account > h5 {
  grid-area: 1 / 2 / 2 / 3;
}

li.account > p {
  grid-area: 2 / 2 / 3 / 3;
  font-size: 0.9rem;
}
